services:
  print-bracelets:
    image: matheuzsilva/print-bracelets:latest
    container_name: print-bracelets-system
    restart: unless-stopped
    stdin_open: true
    tty: true
    network_mode: host
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    environment:
      - NODE_ENV=production
    volumes:
      - ./logs:/app/logs
      - /etc/localtime:/etc/localtime:ro  # Sincroniza timezone
    
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=300
      - WATCHTOWER_LABEL_ENABLE=true
      - WATCHTOWER_INCLUDE_STOPPED=true
      - WATCHTOWER_REVIVE_STOPPED=true
      - WATCHTOWER_NOTIFICATIONS=slack  # Opcional
      # - WATCHTOWER_NOTIFICATION_SLACK_HOOK_URL=your-webhook-url
    command: --interval 300 --cleanup
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
